.score-board {
    grid-column: 2;
    height: 100%;
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 1em
}

.score-board .score-preview {
    text-align: center
}

.score-board .score-preview img {
    width: 100%
}

* {
    box-sizing: border-box
}

html,body {
    min-height: 100vh;
    margin: 0;
    padding: 0
}

.centered {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
